# Supabase（Vercel 環境変数に設定してください）
# NEXT_PUBLIC_* はクライアントにも渡るため、公開キー（anon）を使用します。

NEXT_PUBLIC_SUPABASE_URL="https://phcwiuzhqfkeuqvpnwsf.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBoY3dpdXpocWZrZXVxdnBud3NmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM5Nzc2NDIsImV4cCI6MjA4OTU1MzY0Mn0.TV9Oj2BPq03uJZZKu3zZ5W2P_sT79MWCtrgKnzL0eWE"

